---
layout: base.njk
title: Bonjour le monde
---

{%- from "macros.njk" import component -%}
<h1 class="text-2xl border-[6.5px]">bla bla bla</h1>

<div class="p-6">
    <div class="container">
        {{ component("headings/title", { content: "Bonjour a vous" }) }}
    </div>
    <img class="md:w-32 lg:w-48" src="static/images/social-image.jpg" alt="">
</div>